
@model IEnumerable<Asignatura>

@{
    ViewData["Title"] = "Información Asignatura";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>


<partial name="ListaObjetoEscuela" />


<h5> @ViewData["Fecha"] </h5>
