
@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Información Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>


<partial name="ListaObjetoEscuela"  />


<h5> @ViewData["Fecha"] </h5>
